*.xml
*.json
*.log
*.pem
*.key
*.crt
*.example
*.pipelines
*.testing
*.lock
*.md
private
private/*
notes
notes/*
node_modules
static
.nuxt
dist
assets
.eslintignore
.prettierignore
notes
.notes
private
.private
vendor
.nova
.vscode
storage
.env
.gitignore
.gitattributes
bump.json
.yarnclean
.prettierignore
.phpstorm.meta.php
Vagrantfile
sonar-project.properties
docker-compose.base.yml
docker-compose.ci.yml
docker-compose.dev.yml
docker-compose.yml
package.json.example
